section#footer {

}




 @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
   .history-tl-container ul.tl li {
     margin-left: 113px;
     padding: 0 0 43px 47px;
   }
   ul.tl li .timestamp {
     width: 100px;
   }
   .navbar-nav {
     margin: 0;
   }
   .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
     padding: 5px 15px 5px 25px;
   }
   .dropdown-menu {
     margin-left: initial;
     a {
       text-align: center;
       color: #F1DB6F !important;
     }
   }
   #clock {
     .timmer {
       li {
         width: 40px;
         .number {
           font-size: 16px !important;
         }
       }
     }
   }
 }