.validation_message {
    display: none;
}
.gfield_error input[type="text"],
.gfield_error input[type="email"],
.gfield_error input[type="password"],
.gfield_error input[type="phone"],
.gfield_error input[type="url"],
.gfield_error input[type="search"],
.gfield_error textarea {
    box-shadow: inset 0 0 0 1px #ff0000;
}


    input[type="text"], input[type="email"], input[type="password"], input[type="phone"], input[type="url"], input[type="search"], .braintree-field, textarea {
    width: 100%;
    padding: 0.8rem 1.5rem;
    box-shadow: inset 0 0 0 1px #a19f9f;
    border-radius: 4px;
    border: 0;
    transition: box-shadow .1s;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1;
    color: #262727;
    outline: none;
    -webkit-appearance: none;
}
input[type='radio'],input[type='checkbox'] {
    -webkit-appearance: none;
    border: solid 0.1em #000000;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #D8D8D8;
    color: #000;
    cursor: pointer;
    height: 2.5em;
    width: 2.5em;
    margin-top: 0;
    vertical-align: middle;
    border-radius: 0;
}
input[type="radio"]:checked:after, input[type='checkbox']:checked:after {
    content: '\2713';
    display: block;
    position: relative;
    font-size: 28px;
    margin: 0 4px;
}
.ginput_container_radio {
    .gfield_radio {
        li {
            margin-right: 50px;
        }
        label {
            padding-left: 20px;
        }
    }
}

.gsection h2{
    color: #0E0E0E;
    font-size: 25px;
    font-weight: bold;
    line-height: 29px;
    display: block;
    clear:both;
}
#field_1_16 {
    margin-top: 80px;
}
.gfield {
    margin-bottom: 24px;
}
#field_1_56,
#field_1_57,
#field_1_7,
#field_1_10,
#field_1_38,
#field_1_20,
#field_3_6,
#field_1_22
{
    width: 45%;
    float: right;
    input {
        width: 100%;
    }
}
#field_1_3,
#field_1_6,
#field_1_9,
#field_1_11,
#field_1_17,
#field_1_19,
#field_3_4,
#field_1_55
{
    margin-right: 5%;
    width: 45%;
    float: left;
    input {
        width: 100%;
    }
}
#field_1_18 {
    width: 100%;
}
#field_1_20 {
    textarea {
        height: 130px;
    }
}
#field_1_25, #field_1_31, #field_1_32, #field_1_34, #field_1_42, #field_1_49 {
    float: left;
    width: 33.33333333%;
    .gfield_label {
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        color: #000;
    }
}
.gfield_radio {
    li {
       float: left;
    }
}
#field_1_50 {
    clear: both;
    hr {
        display:none;
    }
}
#field_1_42 .gfield_label {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
}
#field_1_33, #field_1_43, #field_1_43, #field_1_45, #field_1_44 {
    float: left;
    width: 33.33333333%;
   >label {
        clear: both;
        font-size: 22px;
        border-bottom: 1px solid #ddd;
       font-weight: bold;
       color: #7C4906;
       width: 90%;
       text-transform: uppercase;
    }
}

#field_1_45 {
    float: left;
    width: 100%;
    >label {
        clear: both;
        font-size: 22px;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        color: #7C4906;
    }
}

#field_1_46{
    clear: both;
    font-size: 22px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: #7C4906;
}
#field_1_47, #field_1_48 {
    clear: both;
    font-size: 17px;
    background: #f5f5f5;
    padding: 5px 19px;
}



#field_1_27,
#field_1_41,
#field_1_29,
#field_1_52,
#field_1_54,
#field_1_53
{
    padding-left: 40%;
    clear: both;
    li.gchoice_1_29_0 {
        width: 100%;
        padding: 7px;
        border: 1px solid #000;
        position: relative;
    }
}
#field_1_29 .gfield_label {
    font-size: 25px;
    line-height: 29px;
    padding: 10px 0;
    color: #000;
}
.gfield_checkbox li {
    margin-top: 13px;
}
#field_1_53 .ginput_container {
    position: relative;
}
#field_1_53 .ginput_container:after {
    display: block;
    content: "";
    width: 64px;
    height: 18px;
    background: transparent url(images/paypal.png) no-repeat;
    position: absolute;
    right: -89px;
    top: 6px;
}
li#field_1_41 label {
    position: relative;
}

li#field_1_41 label span {
    position: absolute;
    top: 9px;
}
#ui-datepicker-div {
    background: #b7b7b7;
    padding: 10px;
    border: 10px solid #000;
    display: none;
    .ui-datepicker-calendar {
        td, th {
            padding: 8px;
        }
    }
    .ui-datepicker-other-month {

    }
    .ui-datepicker-month, .ui-datepicker-year {
        width: 100px;
        margin-right: 14px;
    }
}
.gform_footer {
    clear: both;
    padding-left: 40%;
    margin-top: 80px;
    margin-bottom: 80px;
}
.gform_button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    transition: all .15s ease;
    margin-right: 23px;
    color: #fff;
    background: #7C491F;
    text-shadow: 0 1px 3px rgba(36,180,126,.4);
    border: none;
    padding: 0 80px;
}
.contact {
    .gform_footer {
        padding-left: 0;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .contact-content {
        padding: 50px 42px;
        background: #7C4906;
        color: #fff;
        margin-top: 20px;
    }
}
.gfield_error .gchoice_1_29_0 {
    border: #401c1c !important;
    background: #eac1c1;
}
.gfield_error .gchoice_1_41_1 input {
    border: 1px solid red;
}
.gfield_error .gchoice_1_27_1 input {
    border: 1px solid red;
}
#field_1_45 .gfield_description {
    font-size: 13px;
    color: #989898;
    font-style: italic;
    letter-spacing: 0.07em;
}
#field_1_52 {
    label {
        font-size: 25px;
        line-height: 29px;
        color: #000;
        margin-top: 21px;
    }
    .ginput_container {
        display: none;
    }
}
#field_1_53 {
    label, .ginput_container {
        font-size: 25px;
        line-height: 29px;
        color: #000;
        margin-top: 21px;
        float: left;
    }

}
#gform_wrapper_3 .gform_heading {
    margin: 20px 0;
}