/* =======================================================================
## ++ Globals
========================================================================== */
html{
    font-size: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    color: #575757;
    font-family: 'LatoWeb',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

*{
    box-sizing:border-box;
}

strong {
    font-family: 'LatoWebBold',Arial,Helvetica,sans-serif;
}
/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}
p {
    margin-bottom: 12px;
    font-size: 18px;
}
a{
    color: #7C4906;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
}
.readmore {
    margin-top: 40px;
    a {
        border: 2px solid #B4B4B4;
        border-radius: 8px;
        display: block;
        padding: 17px;
        max-width: 225px;
        text-align: center;
        color: #fff;
        &:hover {
            border: 2px solid #F1DB6F;
            color: #F1DB6F;
        }
    }
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
.navbar {
    margin-bottom: 0;
}
.pimage {
    img {
        width: 100%;
        height: auto;
    }
}
