header {
    background: #F1DB6F;
    text-align: center;
    padding: 15px 0;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.collapse.in {
    .navbar-nav>li {
        display: block;
    }
}
.navbar-nav {
    text-align: center;
    width: 100%;
    & >li {
        float: none;
        display: inline-block;
        & >a {
            font-family: 'LatoWebBold',Arial,Helvetica,sans-serif;
            font-size: 18px;
            color: #fff;
            letter-spacing: 0.05em;
            &:hover {
                background: transparent;
            }
        }
    }
}
.slider {
    background: url("images/header.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-window{
    padding: 100px 0;
    text-align: center;
    h1 {
        color: #fff;
        font-size: 44px;
        font-family: 'LatoWebBold',Arial,Helvetica,sans-serif;
        margin-bottom: 20px;
    }
    h2 {
        color: #fff;
        font-size: 25px;
        margin-bottom: 20px;
    }
    #clock {
        .timmer {
            text-align: center;
            li {
                display: inline-block;
                color: #fff;
                font-family: 'LatoWebBold',Arial,Helvetica,sans-serif;
                margin-left: 10px;
                &:last-child {
                }
                .number {
                    border: 1px solid #fff;
                    padding: 10px;
                    display: block;
                    font-size: 40px;
                }
                span {
                    display: block;
                    font-size: 20px;
                    font-family: 'LatoWebBold',Arial,Helvetica,sans-serif;
                    text-transform: uppercase;
                    margin-top: 5px;
                }
            }
        }
    }
}
.dropdown{text-align:center;}
.button, .dropdown-menu{margin:10px auto}
.dropdown-menu{width:200px; left:50%; margin-left:-100px;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: transparent;
}
.open>.dropdown-menu {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    border: none;
}
.dropdown-menu:before {
    //position: absolute;
    //top: -11px;
    //left: 9px;
    //display: inline-block;
    //border-right: 11px solid transparent;
    //border-right: 11px solid transparent;
    //border-bottom: 11px solid #ccc;
    //border-left: 11px solid transparent;
    //border-bottom-color: rgba(0, 0, 0, 0.2);
    //content: '';
}
.dropdown-menu:after {
    position: absolute;
    top: -10px;
    left: 45%;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    content: '';
}

.dropdown-menu>li>a {
    font-family: 'LatoWebBold',Arial,Helvetica,sans-serif;
    padding: 10px 16px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #000000;
    transition: color .1s;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    &:hover {
        color: #888888;
        background: transparent;
    }
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #7c4906 !important;
}
