.history-tl-container{
    font-family: "LatoWeb",sans-serif;
    width:100%;
    margin:auto;
    display:block;
    position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;
    text-align: center;

}
.history-tl-container .tl-item .item-title {
    color: #7C4906;
    font-family: "LatoWebBold",Arial,Helvetica,sans-serif;
}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:200px;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed #86D6FF;
    padding:0 0 50px 30px;
    position:relative;
    text-align: left;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #7c4906;
    height: 32px;
    width: 32px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
ul.tl li .timestamp{
    color: #728F9C;
    position: absolute;
    width: 161px;
    left: -54%;
    text-align: right;
    font-size: 11px;
    line-height: 24px;
    font-family: "LatoWebBold",Arial,Helvetica,sans-serif;
}

section {

    &#news {
        background: #EBEBEB;
        padding: 100px 0;
        .sm-wrap {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    &#about {
        h3 {
            margin-bottom: 30px;
        }
        .no-pad-wrap {
            img {
                width: 100%;
                height: auto;
            }
        }
        .pad-wrap {
            padding: 100px 0;
        }
    }
    &#timeline {
        padding: 100px 0;
        .timeline {
            text-align: center;
            margin-right: 156px;
            font-size: 12px;
            margin-bottom: 16px;
            span {
                border: 2px solid #258cc7;
                padding: 3px 33px;
            }
        }
        .coffshow {
            padding: 100px 0;
        }
    }
    &#judge {
        background: #7C4906;
        padding: 100px 0;
        color: #fff;
        h3 {
            margin-bottom: 30px;
        }
        .no-pad-wrap {
            img {
                width: 100%;
                height: auto;
            }
        }
        .pad-wrap {
            padding: 100px 0;
        }
    }
    &#footer {
        background: #728F9C;
        padding: 100px 0;
        color: #fff;
        margin-top: 50px;
        h3 {
            margin-bottom: 30px;
        }
        .no-pad-wrap {
            img {
                width: 100%;
                height: auto;
            }
        }
        .pad-wrap {
            padding: 100px 0;
        }
    }
}
.viewall {
    text-align: center;
    margin-top: 44px;
    a {
        border: 2px solid #969696;
        padding: 16px 21px;
        border-radius: 8px;
    }
}