.coffshow {
    h5, h6 {
        margin-bottom: 20px;
    }
}
#about {
    background: #141720;
    color: #fff;
}
#entry {

.img-entry {
    background: #c3dbe0;
    overflow: hidden;
    img{
        width: 100%;
    }
}
    .content-entry {
        background: #7C4906;
        color: #fff;
        .pad-wrap {
            padding: 37px 25px;
            p {
                font-size: 16px;
                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
}
h1.entry-title {
    font-size: 30px;
    line-height: 44px;
    text-transform: uppercase;
    color: #7c4906;
    font-weight: normal;
    padding-bottom: 10px;
    letter-spacing: 0.03em;
}
div.globalFooterCard {
    flex: 1 1 100%;
    margin-bottom: 15px;
    z-index: 499;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    min-height:284px;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 23px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
    transition-property: color,background-color,box-shadow,transform;
    transition-duration: .15s;
    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px !important;
    }
}

article {
    h1.entry-title {
        margin: 0;
    }
    .entry-content {
        h3 {
            font-size: 26px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
        }

    }
}
#judges {
    .row {
        margin-bottom: 40px;
    }
    .pindex {
        .pcontent {
            p {
                font-size: 15px;
                letter-spacing: 0.03em;
            }
        }
        .pimage {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
.book-cover {
    position: relative;
    display: block;
    height: auto;
    width: 70%;
    margin: auto;
}
#organiser {
    .pcontent {
        border: 1px solid #c3dbe0;
        padding: 20px;
        min-height: 375px;
        margin-bottom: 25px;
        .pimagel {
            text-align: center;
            padding: 25px 0px;

            img {
                max-width: 300px;
                height: auto;
            }
        }
    }

}
.copy {
    text-align: center;
    padding: 12px;
    background: aliceblue;
}
#footer {

    .menu {
        text-align: center;
        ul {
            li {
                margin-right: 14px;
                display: inline-block;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: #fff;
                    font-size: 16px;
                    &:hover {
                        color: #000000;
                    }
                }
            }
        }
    }
}
.cat-list{
    h3 {
        font-size: 21px !important;
    }
    .xcf {
        position: relative;
        margin-top: 30px;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px solid #b1b1b1;
            z-index: -1;
            top: 19px;
        }
        span {
            background: #fff;
            padding: 0px 10px 0px 0px;
        }
    }
}
