$reg-sans-serif:'LatoWeb',Arial,Helvetica,sans-serif;
$bold-sans-serif:'LatoWebBold',Arial,Helvetica,sans-serif;
$heavy-sans-serif:'LatoWebHeavy',Arial,Helvetica,sans-serif;
$h-margin-bottom: 20px;
$color-font-h: #7C4906;
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-family: $heavy-sans-serif; }
h1, .h1, h2,.h2 { line-height: 1.1; margin-bottom: $h-margin-bottom;color: $color-font-h;}
h3, .h3, h4,.h4 { line-height: 1.3; }
h1, .h1 { font-size: 400%; letter-spacing: -2px; }
h2, .h2 { font-size: 225%; letter-spacing: -1px; }
h3, .h3 { font-size: 200%; }
h4, .h4 { font-size: 180%; }
h5, .h5 { font-size: 130%; }

